* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  background-color: rgb(145, 138, 138);

}

nav a {
  color: rgb(32, 22, 228);
}

a:visited {
  color: rgb(86, 86, 134);
}

.container {
  margin: 20px;
}

.TheEightHundred {
  margin-top: 20px;
  padding: 10px;
  border: 5px solid black;
}

.img1 {
  float: left;
  padding: 0 5px 5px;
  height: 220px;
}

p {
  text-align: justify;
}

.ptitle {
  margin-top: 10px
}

.MyPeopleMyHomeland {
  margin-top: 20px;
  padding: 10px;
  border: 5px solid black;
}

.img2 {
  float: left;
  padding: 0 5px 5px;
  height: 220px
}

.BadBoysforLife {
  margin-top: 20px;
  padding: 10px;
  border: 5px solid black;
  
}

.img3 {
  float: left;
  padding: 0 5px 5px;
}

.Tenet {
  margin-top: 20px;
  padding: 10px;
  border: 5px solid black;
}

.img4 {
  float: left;
  padding: 0 5px 5px;
}

.SonicTheHedgehog {
  margin-top: 20px;
  padding: 10px;
  border: 5px solid black;
}

.img5 {
  float: left;
  padding: 0 5px 5px;
}

.wrapper {
  position: absolute;
  top: 65%;
  left: 75%;
  transform: translate(-50%,-50%);
  }
  .cube-wrap{
    width: 400px;
    height: 400px;
    perspective: 2000px;
    perspective-origin: 50% -500px;
    }
    .single-box{
      background: url(./images/eight1.jpeg);
      background-size: cover;
      display: block;
      position: absolute;
      width: 360px;
      height: 360px;
      transform: rotateY(45deg)
      translateZ(-200px) rotateX(15deg);
      transform-origin: 50% 50% 0;
      border: 3px solid #fff;
    }
    .box {
      transform-style: preserve-3d;
      animation:rotate 10s infinite linear;
    }
     .side-front {
      transform: translateZ(180px);
    }
    
    .side-back {
      transform: rotateY(180deg) translateZ(180px);
    }
    .side-top {
      background: url(./images/eight1.jpeg);
      transform: rotateX(90deg) translateZ(180px);
    }
    .side-bottom {
      transform: rotateX(90deg) translateZ(180px);
     
    }
    .side-left {
      transform: rotateY(-90deg) translateZ(180px);
      background: url(./images/eight2.jpeg);
    }
    .side-right {
      transform: rotateY(90deg) translateZ(180px);
      background: url(./images/eight2.jpeg);
    }
    @keyframes rotate{
      0%{
        transform: rotateX(0);
        }
      100%{
        transform: rotateY(360deg);
      }
    }
   
    .TheEightHundredmain {
      margin-top: 10px;

      padding: 240px 100px 50px 10px;
    border: 5px solid black;

    }
   .eightMain {
     margin-bottom: 10px;
   }

   /* ##############*/

   .wrapper-my {
    position: absolute;
    top: 170%;
    left: 75%;
    transform: translate(-50%,-50%);
    }
    .cube-wrap-my{
      width: 400px;
      height: 400px;
      perspective: 2000px;
      perspective-origin: 50% -500px;
      }
      .single-box-my{
        background: url(./images/my1.jpeg);
        background-size: cover;
        display: block;
        position: absolute;
        width: 360px;
        height: 360px;
        transform: rotateY(45deg)
        translateZ(-200px) rotateX(15deg);
        transform-origin: 50% 50% 0;
        border: 3px solid #fff;
      }
      .box-my {
        transform-style: preserve-3d;
        animation:rotate 10s infinite linear;
      }
       .side-front-my {
        transform: translateZ(180px);
      }
      
      .side-back-my {
        transform: rotateY(180deg) translateZ(180px);
      }
      .side-top-my {
        background: url(./images/my1.jpeg);
        transform: rotateX(90deg) translateZ(180px);
      }
      .side-bottom-my {
        transform: rotateX(90deg) translateZ(180px);
       
      }
      .side-left-my {
        transform: rotateY(-90deg) translateZ(180px);
        background: url(./images/my2.jpeg);
      }
      .side-right-my {
        transform: rotateY(90deg) translateZ(180px);
        background: url(./images/my2.jpeg);
      }
      @keyframes rotate{
        0%{
          transform: rotateX(0);
          }
        100%{
          transform: rotateY(360deg);
        }
      }
     
      .MyPeopleMyHomeland-main {
        margin-top: 10px;
  
        padding: 240px 100px 50px 10px;
      border: 5px solid black;
  
      }
     .myMain {
       margin-bottom: 10px;
     }

     /* ######################## */
     
     .wrapper-bad {
      position: absolute;
      top: 265%;
      left: 75%;
      transform: translate(-50%,-50%);
      }
      .cube-wrap-bad{
        width: 400px;
        height: 400px;
        perspective: 2000px;
        perspective-origin: 50% -500px;
        }
        .single-box-bad{
          background: url(./images/img1.jpeg);
          background-size: cover;
          display: block;
          position: absolute;
          width: 360px;
          height: 360px;
          transform: rotateY(45deg)
          translateZ(-200px) rotateX(15deg);
          transform-origin: 50% 50% 0;
          border: 3px solid #fff;
        }
        .box-bad {
          transform-style: preserve-3d;
          animation:rotate 10s infinite linear;
        }
         .side-front-bad {
          transform: translateZ(180px);
        }
        
        .side-back-bad {
          transform: rotateY(180deg) translateZ(180px);
        }
        .side-top-bad {
          background: url(./images/img1.jpeg);
          transform: rotateX(90deg) translateZ(180px);
        }
        .side-bottom-bad {
          transform: rotateX(90deg) translateZ(180px);
         
        }
        .side-left-bad {
          transform: rotateY(-90deg) translateZ(180px);
          background: url(./images/img4.jpeg);
        }
        .side-right-bad {
          transform: rotateY(90deg) translateZ(180px);
          background: url(./images/img4.jpeg);
        }
        @keyframes rotate{
          0%{
            transform: rotateX(0);
            }
          100%{
            transform: rotateY(360deg);
          }
        }
       
        .BadBoysforLife-main {
          margin-top: 10px;
    
          padding: 240px 100px 50px 10px;
        border: 5px solid black;
    
        }
       .bad-main {
         margin-bottom: 10px;
       }

       /* ################# */


       .wrapper-ten {
        position: absolute;
        top: 365%;
        left: 75%;
        transform: translate(-50%,-50%);
        }
        .cube-wrap-ten{
          width: 400px;
          height: 400px;
          perspective: 2000px;
          perspective-origin: 50% -500px;
          }
          .single-box-ten{
            background: url(./images/tenet2.jpeg);
            background-size: cover;
            display: block;
            position: absolute;
            width: 360px;
            height: 360px;
            transform: rotateY(45deg)
            translateZ(-200px) rotateX(15deg);
            transform-origin: 50% 50% 0;
            border: 3px solid #fff;
          }
          .box-ten {
            transform-style: preserve-3d;
            animation:rotate 10s infinite linear;
          }
           .side-front-ten {
            transform: translateZ(180px);
          }
          
          .side-back-ten {
            transform: rotateY(180deg) translateZ(180px);
          }
          .side-top-ten {
            background: url(./images/tenet2.jpeg);
            transform: rotateX(90deg) translateZ(180px);
          }
          .side-bottom-ten {
            transform: rotateX(90deg) translateZ(180px);
           
          }
          .side-left-ten {
            transform: rotateY(-90deg) translateZ(180px);
            background: url(./images/tenet1.jpeg);
          }
          .side-right-ten {
            transform: rotateY(90deg) translateZ(180px);
            background: url(./images/tenet1.jpeg);
          }
          @keyframes rotate{
            0%{
              transform: rotateX(0);
              }
            100%{
              transform: rotateY(360deg);
            }
          }
         
          .Tenet-main {
            margin-top: 10px;
      
            padding: 240px 100px 50px 10px;
          border: 5px solid black;
      
          }
         .ten-main {
           margin-bottom: 10px;
         }

         /* ################# */

         .wrapper-sonic {
          position: absolute;
          top: 465%;
          left: 75%;
          transform: translate(-50%,-50%);
          }
          .cube-wrap-sonic{
            width: 400px;
            height: 400px;
            perspective: 2000px;
            perspective-origin: 50% -500px;
            }
            .single-box-sonic{
              background: url(./images/Sonic3.jpeg);
              background-size: cover;
              display: block;
              position: absolute;
              width: 360px;
              height: 360px;
              transform: rotateY(45deg)
              translateZ(-200px) rotateX(15deg);
              transform-origin: 50% 50% 0;
              border: 3px solid #fff;
            }
            .box-sonic {
              transform-style: preserve-3d;
              animation:rotate 10s infinite linear;
            }
             .side-front-sonic {
              transform: translateZ(180px);
            }
            
            .side-back-sonic {
              transform: rotateY(180deg) translateZ(180px);
            }
            .side-top-sonic {
              background: url(./images/sonic1.jpeg);
              transform: rotateX(90deg) translateZ(180px);
            }
            .side-bottom-sonic {
              transform: rotateX(90deg) translateZ(180px);
             
            }
            .side-left-sonic {
              transform: rotateY(-90deg) translateZ(180px);
              background: url(./images/sonic2.jpeg);
            }
            .side-right-sonic {
              transform: rotateY(90deg) translateZ(180px);
              background: url(./images/sonic2.jpeg);
            }
            @keyframes rotate{
              0%{
                transform: rotateX(0);
                }
              100%{
                transform: rotateY(360deg);
              }
            }
           
            .SonicTheHedgehog-main {
              margin-top: 10px;
        
              padding: 240px 100px 50px 10px;
            border: 5px solid black;
        
            }
           .sonic-main {
             margin-bottom: 10px;
           }
  
